*{box-sizing: border-box;}

.App {
  /* Whole app */
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-image: url('https://i.postimg.cc/3NMmPydq/pexels-pixabay-326055.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; 
}


.facet{
  /* controls the logo container */
  display: flex;
  align-items: center;
  width: 23%;
  margin: 7px;
  border: 1px solid red;
}

.Nembo{
  height: 255px;
  margin-right: 19%;
  padding: 15px;
  /* this css is for the logo */
  
}

.Banner {
  /* Top H1 container */
  height: 175px;
  width: 75%;
  border: 1px solid purple;
  padding: 33px;
  margin-left: 289px;


}


.September {
 /* Screed container */
  /* border: 1px solid red; */
  height: 550px;
  width: 550px;
  padding: 5px;
  margin-left: 289px;
  
  }

 #Waxx{
   /* screed paragragh */
      color: #cc8f72;
    }


h2,h3{color: gold;}