*{box-sizing: border-box;}




.facet{
  /* controls the logo container */
  display: flex;
  align-items: center;
  width: 23%;
  margin: 7px;
  border: 1px solid red;
}

.Nembo{
  height: 255px;
  margin-right: 19%;
  padding: 15px;
  /* this css is for the logo */
  
}

